.list{
    list-style-type: none;
    gap: 40px;
}
.link {
text-decoration: none;
}
h1, h2, h3, h4, p {
margin-top: 0;
margin-bottom: 0;
}
ul,
ol {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}
.button{
cursor: pointer;
}
img{
display: block;
}
.body-descr{
font-family:Roboto, sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.visually-hidden {
    display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
  
        }
        /*========загальні стилі====*/

        /*=============HEADER MOBILE STYLES===========*/

.menu-link-link{
    display: none;
}
.header-adress{
    display: none;
}
.link-logo{
    font-family: Raleway, sans-serif;
    font-weight: 700 ;
    font-size: 18px ;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    
    }
    .logo-part-header{
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:#2e2f42 ;
        text-decoration: none;
        }
       .header-btn-menu-mobile{
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        margin-left: auto;
       }
 
       .mobile-menu-close-btn-icon{
        fill: #2f2f37;
       }



        /*=============/HEADER MOBILE STYLES===========*/


        @media screen and (min-width:480px) {
     .container{      
       max-width: 320px;
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
             }
            }
 @media screen and (min-width: 768px) {
  .container { 
  max-width: 768px;


          } 
             }
 @media screen and (min-width: 1158px) {
 .container {
max-width: 1158px;

                 }
             }      